@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, "SF Pro Text", BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;

}


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .writing-mode-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
}

@layer utilities {
  .writing-mode-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
}

body {
  background-color: #f8f5f0;
  color: #404040;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.transition-base {
  transition: all 300ms ease-in-out;
}